td {
    color: white;
    padding: 0.5rem 4rem;
}

tr :nth-child(even){
    text-align: right;
}

.centerDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}

#logContainer{
    max-height: 300px;
    max-width: 600px;
    overflow: auto;

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }