.greenButton{
    
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: var(--succes)
}

div.player {
    margin: 10px;
    padding: 20px 40px;
    background: transparent;
}

div.player.active {
    background-color: var(--primary);
}

div.player p {
    color: white
}

div.player.active p {
    color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#scoreInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    caret-color: transparent;
    color:white;
    font-size:2rem;
    margin-bottom: 2em;
}

#scoreInput:focus {
    border:none;
    outline: none;
    border-bottom: 1px solid white;
}