.class {
    object-fit: cover;
    min-width: 21em;
    min-height: 14em; 
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
}

.cardTitle {
    font-size: 3rem;
    color:#FFF;
    position:absolute;
    bottom: 0.1em;
    left: 0.1em;
    margin-bottom:0px;
}

.cardTitle::after {
    content:'';
    height: 3px;
    width: 100%;
    background: white;
    display:block;
    border-radius: 3px;
    position:absolute;
    bottom: 0.1em;
    left: 0.1em;
}

.gameCard {
    margin:2em 1em;
    cursor: pointer;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    position: relative;
    min-width: 20em;
    min-height: 10em;
}

.spaceBetween {
    display:flex;
    justify-content: space-around;
}