td {
    color: white;
    padding: 0.5rem 4rem;
}

tr :nth-child(even){
    text-align: right;
}

.centerDiv{
    display: flex;
    justify-content: center;
}

#logContainer{
    max-height: 300px;
    max-width: 600px;
    overflow: auto;

}