
.App {
  text-align: center;
  
}

body{
  background-color:var(--custom-dark);
}

.hidden {
  display:none;
}

.df {
  display: flex;
}

.jcc{
  justify-content: center;
}

.fdr{
  flex-direction: row;
}

.fdc{
  flex-direction: column;
}

